<div class="container">
  
  <div class="donate1">
    <button id="dn" routerLink="/donate">Donate Now</button>
  </div>
  <div class="Health">
    <div class="dropdown-divider1"></div>
    <a class="info" rouerlink="/"> All </a>
    <div class="dropdown-divider"></div>    
    <a class="info0" routerlink="/"> Cancer </a>
    <div class="dropdown-divider"></div>
    <a class="info1" routerlink="/"> HIV </a>
    <div class="dropdown-divider"></div>
    <a class="info2" routerlink="/"> Other </a>
    <div class="dropdown-divider"></div>
  </div>


  <div class="main">
      <div class="slider-main">
          <!-- <div class="outerdiv"></div> --> 
  </div>


      
          <div class="tooltip" *ngFor="let campaign of  AllCreatedCampaign">
            <img src="assets/image/3.jpg" alt="name" width="25%">
            <!-- <img src={{campaign.medical.doument}}> -->
            <div class="Pro-Bar">
              <div class="Progress-Bar"></div>
              <div class="numb" id="count">100%</div>
            </div>
            <div class="description">
              <P> <b>Description</b>
                <br>
                Deases: {{campaign.disease}}
                <br>
               {{campaign.description}}
              </P>
              <label for="click" class="ReadMore" routerLink="/dashboard">ReadMore</label>
            </div>
         







</div>





























































































  <!-- <div class="donate1">
    <button id="dn" routerLink="/donate">Donate Now </button>
  </div>
  <div class="Health">
    <div class="dropdown-divider1"></div>
    <a class="info" rouerlink="/"> All </a>
    <div class="dropdown-divider"></div>    
    <a class="info0" routerlink="/"> Cancer </a>
    <div class="dropdown-divider"></div>
    <a class="info1" routerlink="/"> HIV </a>
    <div class="dropdown-divider"></div>
    <a class="info2" routerlink="/"> Other </a>
    <div class="dropdown-divider"></div>
  </div>
  <div class="main">
    <section class="container1">
      <div class="contaner-fluid">
        <div class="slider-wrap">
          <div class="slider-main">
            <div class="item">
              <div class="text">1</div>
              <script src="https://kit.fontawesome.com/a076d05399.js"></script>
            </div>
          </div>
          <div class="outerdiv"></div>
        </div>
      </div>


      <div class="center">
        <div class="patient">
          <div class="tooltip">
            <img src="assets/image/3.jpg" alt="name" width="100%">
            <div class="Pro-Bar">
              <div class="Progress-Bar"></div>
              <div class="numb" id="count">100%</div>
            </div>
            <div class="description">
              <P> <b>Description</b>
                <br>
                Deases:
                <br>
                Need Money Help Me ....
              </P>
              <label for="click" class="ReadMore" routerLink="/dashboard">ReadMore</label>
            </div>
          </div>
        </div> 
   -->
